<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#"
        th:action="@{/colorform}"
        th:object="${color}"
        method="post">
    Id :<input type="number" th:field="*{id}" />
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}"></span><br />
    Name :<input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{name}"></span><br />
    Colors :<select th:field="*{color}" />
    <option th:value="'blue'" th:text="Blue"></option>
    <option th:value="'red'" th:text="Red"></option>
    </select><br />
    Description :<textarea rows="3" th:field="*{description}" />
    <span th:if="${#fields.hasErrors('description')}"
          th:errors="*{description}"></span><br />
    <br />
    <input type="submit" value="Submit" />


</form>

</body>
</html>